@charset "utf-8";
/* CSS Document */

table#table_menu{
	width:144px;
	height:30px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	background-color:#d6ca98;
}

td#td_menu{
	cursor:pointer;
	color:rgb(51,51,51);
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:bold;
	padding-left:15px;
	border-bottom:#000000 2px; 
}
